* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #dedede;
}

.header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.characters-container .character-card {
  width: 300px;
  height: 400px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.characters-container .character-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.character-card .character-info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: #fff;
  transition: 0.5s;
}

.character-card:hover .character-info {
  bottom: 0;
}

.character-card:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}
